<%= link_to "Show Discounted Items", "/?view=discounted"%>

<% @products.each do |product|%>
  <h2>Name: <%= link_to product.name, "/products/#{product.id}" %></h2>
  <h4>Price: <%= number_to_currency(product.price) %></h4>
  <h4>Description: <%= product.description %></h4>
  <h4> <img src="<%= product.images.first.image_url %>"></h4>
  
  
<%end%>

