<%= form_tag '/create', method: :post do %>
<div>
 <h2> <%= label_tag :name, "enter name of product" %></h2>
  <%= text_field_tag :name %>
</div>

<div>
  <h2><%= label_tag :price, "enter price of product" %></h2>
  <%= text_field_tag :price %>
</div>

<div>
 <h2><%= label_tag :image, "enter image URL of product" %></h2>
  <%= text_field_tag :image %>
</div>
<div>
  <h2><%= label_tag :description, "enter description of product" %></h2>
  <%= text_field_tag :description %>
</div>

<div>
  <%= submit_tag "click here if you're awesome" %>
</div>

<% end %>
