<h2>Product</h2>
<p><%= @product.name %></p>
<p><%= @product.price %></p>
<p><%= @product.description %></p>
<p><img src="<%= @product.image %>"></p>

<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
<%= link_to "Edit", "/products/#{@product.id}", method: :edit %>